.disconnectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 24px 40px;
  border: 4px solid #BEFE46;
  background: #010101;
  cursor: pointer;
  transition: all 0.2s ease;
}

.text {
  color: #BEFE46;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.iconHover {
  display: none;
}

.disconnectButton:hover .iconDefault {
  display: none;
}

.disconnectButton:hover .iconHover {
  display: block;
}
